*.cat
*.dat
/L/*_dev.obj
/loadscr
/mov
/mods
*.pck
/soundtrack
x3files.xml
*.xlsm
/scripts/z.*
/t/1000-*
/t/9999-*
*.xsl
/scripts/test.*
/scripts/a.*
scripts/setup.cycrow.cheat.xml
scripts/setup.cycrow.library.xml
/scripts/lib.cycrow.*
/scripts/debug.*
/BUILD/ZIP
/BUILD/SPK
*.bak
